/* Estilo da página */

body {

    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;

}

.text {
    margin-right: 2%;
    text-align: justify;
    font-size: 110%;
}

.icon_menu_mobile {
    display: none;
}

/* Estilo do menu */

.menu_btn {
    position: relative;
    padding: 30px;
    border-color: #ffffff;
    border-right: 2px solid white;
    max-width: 85px;
    height: autovh;
    display: flex;
    margin-right: 2%;

}

footer {
    margin-top: autovh;
}

.nav_btn a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    margin: 25px;
    margin-right: auto;
}



.ui-btn {

    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;

    --hover-btn-color: #00ffff;




}



.ui-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;


    color: var(--default-btn-color);

    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);


}

.ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
}

.ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
    background: var(--btn-hover-bg);
}

.ui-btn:hover span,
.ui-btn:focus span {
    color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
}

/*Estilizado para o mobile*/

@media screen and (max-width: 560px) {

    /*Bloquando Menu*/

    .icon_menu_mobile {
        display: block;
    }

    .menu_btn {
        display: none;
    }

    /*Estilo do menu*/

    .btn-abrir-menu svg {
        color: #ffffff;
        position: relative;

    }


    .menu_mobile {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        width: 0%;
        overflow: hidden;
        transition: .5s;
        text-decoration: none;
    }

    .menu-mobile a {
        text-decoration: none;
    }

    .menu-mobile.abrir-menu {
        width: 70%;
    }

    .menu-mobile a h3 {
        text-align: right;
        padding: 20px 4%;
        font-size: 100%;
        font-weight: 300;
        text-decoration: none;
        color: #ffffff
    }

    .menu-mobile .btn-fechar {
        color: #ffffff;
        font-size: 20px;
        padding: 20px 5%;

    }



    /*estilo da página*/


    body {
        flex-direction: column;
        font-size: 90%;
    }


    .text {
        left: 2%;
    }


}