/* Estilo da página */

body {

    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;

}

.text {
    margin-right: 2%;
    text-align: justify;
    font-size: 110%;
}

.icon_menu_mobile {
    display: none;
}

/* Estilo do menu */



.btn-abrir-menu svg {
    color: #ffffff;
    font-size: 40px;
    right: -90%;
    position: relative;

}

.pages {
    height: 100vh;
    position: fixed;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
    text-decoration: none;


}

.pages {
    text-decoration: none;
}

.page.abrir-menu {
    width: 70%;
}

.pages a {
    text-align: right;
    padding: 20px 4%;
    font-size: 100%;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff
}

footer {
    margin-top: autovh;
}

.nav_btn a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    margin: 25px;
    margin-right: auto;
}

/*Animação link*/

.ui-btn {

    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;

    --hover-btn-color: #00ffff;




}



.ui-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;


    color: var(--default-btn-color);

    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);


}

.ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
}

.ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
    background: var(--btn-hover-bg);
}

.ui-btn:hover span,
.ui-btn:focus span {
    color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
}